.Container{
  width: 100%;
  padding: 20px;
  background-color: rgb(253, 253, 246);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-content{
  width: 90%;

  /* background-color: aliceblue; */
}

.up {
  width: 100%;

  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-bottom: 1px solid #00000026;
}

.up img{
  width: 500px;

}

.AnimateIMG{
  animation: slideInAnimation 1s cubic-bezier(.2,.11,.59,1.33);
}


@keyframes slideInAnimation {
  0% {
    transform: translateX(-150%);
    opacity: 0%;
  }
  80% {
    transform: translateX(30%);
    opacity: 90%;
  }
  100% {
    transform: translateX(0%);
    opacity: 100%;
  }
}

.center{
  width: 100%;
  /* background-color: rgb(0, 152, 0); */
  text-align: center;
  box-shadow: 5px 5px 7px 0px #0000001f;
}


.down{
  width: 100%;
  /* background-color: rgb(0, 168, 0); */
  display: flex;
  margin-top: 30px;
  padding: 10px 0px;
  box-shadow: 5px 5px 7px 0px #0000001f;

}


.down .sx{
  width: 50%;
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.226);

}



.down .dx{
  flex-grow: 1;
  /* background-color: rgb(0, 173, 115); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}



.down p{
  padding: 10px 0px;
}



.animateInfo{
  animation: pInfo 1s linear;
}


@keyframes pInfo {
  0% {
    transform: scale(0%);

  }
  100% {
    transform: scale(100%);

  }

}






/* -------------------CONTROLLO------------------------ */


.container-controllo{

  display: flex;
  align-items: center;
  justify-content: center;
}

input{
  width: 450px;
  padding: 14px 16px;
  border-radius: 15px 0px 0px 15px;
  border: none;
  background-color: rgb(216, 216, 216);
}
button{
  padding: 14px 20px;
  border: none;
  border-radius: 0px 15px 15px 0px;
}

button:active{
  background-color: rgb(160, 160, 160);
}



/* ---------------------PROVE-------------------- */

