.Container{
  width: 100%;

  background-color: rgba(60, 255, 0, 0.075);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-content{
  width: 90%;

  /* background-color: aliceblue; */
}

.up {
  width: 100%;

  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.up img{
  width: 500px;
  height: 500px;
}

.AnimateIMG{
  animation: slideInAnimation 1s cubic-bezier(.2,.11,.59,1.33);
}


@keyframes slideInAnimation {
  0% {
    transform: translateX(-150%);
    opacity: 0%;
  }
  80% {
    transform: translateX(30%);
    opacity: 90%;
  }
  100% {
    transform: translateX(0%);
    opacity: 100%;
  }
}

.center{
  width: 100%;

  background-color: rgb(0, 152, 0);
  text-align: center;
}
.down{
  width: 100%;

  background-color: rgb(0, 168, 0);
  display: flex;
}


.down .sx{
  width: 50%;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.down p{
  padding: 10px 0px;
}

.down .dx{
  width: 50%;

  background-color: rgb(0, 173, 115);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
/* -------------------CONTROLLO------------------------ */


.container-controllo{
  width: 100%;

  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}






/* ---------------------PROVE-------------------- */

